{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}
{% block content %}

    <nav aria-label="breadcrumb" style="font-size: 15px;">
        <ol class="breadcrumb" id="journey"style="background-color: #fff;padding: 2px 20px;margin-bottom: 0px!important;">
        <li class="breadcrumb-item"><a href="/" style="color:#01011e">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'app_context:help-center' %}" id="last2word" style="color:#01011e">help-center</a></li>
        <li class="breadcrumb-item active" aria-current="page"><span id="lastword">getting-started</span></li>
        </ol>
    </nav>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 order-md-2" style="display: flex; justify-content: center;">
                <img class="img-fluid mb-4 mb-md-0" src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedmainimage.png' %}" width="60%" alt="image">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h1 style="font-family:crimson text ;margin-top: 60px;">Getting Started</h1>
                <p>Reach Clients all over India. Sell to Builders & Developers, Contractors & Construction Firms, Architects, Institutions and Individual Home Buyers from a single dashboard.</p>
                <br>
                <a href="/account/">
                    <button class="btn btn-lite " style="
                        text-transform: none;
                        text-decoration: none;
                        box-shadow: none;
                        background-color: #C7D0D8 !important;
                        border-radius: 0;
                        border: none">Getting Started</button>
                </a>
            </div>
        </div>
            
        <br>

        <div class="row" id="first" >
            <div class="col-6 col-md-3 col-sm-6  mt-5">
                <div class="card p-2"
                    style=" 
                width:250px !important;
                height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage1.png' %}" width="30%">

                    <u>

                        <p>Simple Pricing strucutre</p>
                    </u>
                    <p style="text-align: center; font-size: 13px;">Easy to understand pricing, so you
                        can know exactly the associated
                        costs before even uploading your
                        products. Price your products so you
                        can receive exactly what you want to
                        know all the taxes involved and
                        understand how to sell online easily.
                    </p>

                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 mt-5">
                <div class="card p-2"
                    style="width:250px !important;
                height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage2.png' %}" width="30%">

                    <u>

                        <p>Relationship Manager</p>

                    </u>
                    <p style="text-align: center;font-size: 13px;">If you don't understand something on the platform, or
                        you're having trouble with anything,
                        simply
                        reach out to your relationship manager with us directly. Businesses require personalisation,
                        and
                        we understand that</p>

                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 mt-5">
                <div class="card p-2"
                    style="width:250px !important;
                height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage3.png' %}" width="30%">

                    <u>

                        <p>Easiest to sell with us
                        </p>

                    </u>
                    <p style="text-align: center;font-size: 13px;">Receive order updates over your dashboard, Phone,
                        Emails, Text & Whatsapp. Receive Quote
                        Enquiries for Bulk OrdersGet complete information in your dashboard as if you were operating
                        a
                        retail store,</p>

                </div>
            </div>
            <div class="col-6 col-md-3 col-sm-6 mt-5">
                <div class="card p-2"
                    style="width:250px !important;
                height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage4.png' %}" width="30%">

                    <u>

                        <p>Add on Services</p>
                    </u>
                    <p style="text-align: center;font-size: 13px;">We provide add-on services to your
                        customers such as Delivery,
                        Customer Support, Consulting &
                        Estimation, all using our tech
                        integrated platforms. Now, give a
                        seamless experience to your
                        customers with us.</p>

                </div>
            </div>

        </div>

        <div class="row" id="first1">
            <div class="col-6 col-lg-3 col-sm-6 mt-5">
                <div class="card p-2"
                    style="width:250px !important;height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage5.png' %}" width="30%">

                    <u>

                        <p>Be part of a larger community</p>
                    </u>
                    <p style="text-align: center; font-size: 13px;">Join manufacturers, distributors &
                        retailers across India in all Building
                        Material Categories to cater to
                        consumers from every part of the
                        country.</p>

                </div>
            </div>
            <div class="col-6 col-lg-3 col-sm-6 mt-5">
                <div class="card p-2"
                    style="width:250px !important;height:335px !important;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">

                    <img src="{% static 'seventh-square/assets/img/help-center/getting-started/gettingstartedimage6.png' %}" width="30%">

                    <u>

                        <p style="text-align: center;">Lower Commissions , More Profits</p>
                    </u>
                    <p style="text-align: center;font-size: 13px;">One of the lowest charges overall
                        across online marketplaces. Earn
                        more profit on the same sale only
                        with Seventh Square..</p>

                </div>
            </div>
        </div>



        <div class="col-12 mt-5" style="justify-content: center;align-items: center;display: flex;">
            <h4 style="font-family:crimson text ml-5">HOW IT WORKS ?</h4>
        </div>
        <div class="container mt-5 ml-5 ">
            <div class="row first2" >
                <div class="col-sm-4 col-ex-6 col-md-2">
                    <div style="
                width: 165px;
                height: 165px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                        <p style="text-align: center; margin-top: 10px;">Setup your<br>
                            Profile</p>
                    </div>


                </div>
                <div class="col-sm-4 col-ex-6 col-md-2 ">

                    <p style="margin-top: 80px;">
                        <hr class="line" style="width:159px">
                    <p class="line" style="margin-top: -29px;
                    margin-left: 150px;;"> > </p>
                </div>
                <div class="col-sm-4 col-ex-6 col-md-2">
                    <div style="
                width: 165px;
                height: 165px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                        <p style="text-align: center; margin-top: 10px;">Manage<br>
                            Orders
                        </p>
                    </div>


                </div>
                <div class="col-sm-4 col-ex-6 col-md-2">
                    <p style="margin-top: 80px;">
                        <hr class="line" style="width:159px">
                    <p class="line" style="margin-top: -29px;
                    margin-left: 150px;;"> > </p>
                    </p>
                </div>
                <div class="col-sm-4 col-ex-6 col-md-2">
                    <div style="
                width: 165px;
                height: 165px;
                border-radius: 50%;
                background-color:rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                        <p style="text-align: center; margin-top: 10px;">Receive<br>
                            Payments
                        </p>
                    </div>


                </div>
            </div>
        </div>

        <div class="col-md-12 mt-5" style="display: flex; justify-content: center;">
            <a style="text-decoration: underline; color:#7b7b7c" href="/how-it-works/ ">
            <p>Understand more about these journey steps
            </a></p>
        </div>



        <div class="col mt-5" style="justify-content: center;align-items: center;display: flex;">
            <div class="row justify-content-center">
                <div class="col text-center">
                <h4 style="font-family:crimson text; font-weight: 600;">REGISTER YOUR FREE ACCOUNT</h4>
                </div>
            </div>        </div>
        <div class="row mt-5">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <p style="width: 81%;">
                    Registration / Onboarding is absolutely free on Seventh
                    Square.<br> You can start selling your products to consumers
                    across India within 5 mins!
                    All you need for Registration is GST , Bank Details &
                    Business Contact Details
                </p>
            </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <section class="fourthSection" id="Register">

                        <div id='alert' style="text-align: center;"></div>
                        <div class="inline thirdSection row">
                            
                            
                            <!-- request a call back popup ends here -->
                            <div class=" register " id="reg-form">
                                <form class="text-center"  method="POST" action="/account/register/">
                                    {%csrf_token%}
                                
                
                                    <!-- <span id='register_mobile_helper' class='text-danger float-left'></span><br /> -->
                                    <div class="form-group row" id="Mob-div">
                                        <div class="col-md-9">
                                        <input class="form-control" id="register_otp_mobile" type="number" name="mobileNumber" required
                                            placeholder="Mobile Number" maxlength="10" pattern="(6|7|8|9)\d{9}">
                                        </div>
                                        <div class="col-md-3">
                                        <button type="button" class="btn btn-secondary btn-block" id="register_otp_mobile_submit"
                                            onclick="register()">Send OTP</button>
                                        <input id="sendotpcheck" hidden value="0">
                                        </div>
                                    </div>
                                    
                                    <span id='register_otp_helper' class='text-danger float-left p-1'></span>
                                    <div>
                                        <div class="form-group" style="display: none;" id='myDIV'>
                                            <input class="form-control" style="border:1px transparent solid;"
                                                onblur="verify_mobile_otp()" pattern="(\d{6})" id='register_otp_input' name="OTP"
                                                required placeholder="Enter OTP" maxlength="10">
                                        </div>
                                    </div>
                                    <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"
                                            required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"></div>
                                    <div class="form-group"><input id="password-field" class="form-control icon-wrapper input"
                                            type="password" name="password" required placeholder="Password"><span
                                            toggle="#password-field" onclick="myFunction()"
                                            class="ion ion-eye field-icon toggle-password" style="font-size: 22px;"></span>
                                    </div>
                                    <br />
                                    <div class="" style="padding: 30px 0px 0px 30px;">
                                        <div class="form-check" style="padding-left: 0px;display: flex;">
                                            <input class="form-check-input" type="checkbox" required>
                                            <span style="
                                                margin-left: 8px;
                                                text-align: left !important;
                                            ">
                
                                                I Agree With <a href="/marketplace/">Marketplace Agreement </a>And
                                                <a href="/terms/">Terms of Use</a>
                                            </span>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="bottom">
                                        <div class="form-group">
                                            <button class="btn btn-primary btn-block" type="button" id='register_submit_temp'
                                                style="background: #000;border-color: #4f4f4f;    margin-top: 10px;"
                                                onclick="Checkit()">Continue</button>
                                            <button class="btn btn-primary btn-block" type="submit" hidden id='register_submit_button'
                                                style="background: #000;border-color: #4f4f4f;    margin-top: 10px;" onclick="Checkit()"
                                                disabled>Continue</button>
                                        </div>
                                        <div>
                                            <div>
                                                <u>
                                                    <a class="text-capitalize already" href="/contact-us" style="color:#4f4f4f">Need
                                                        Help?</a>
                                                </u>
                                            </div>
                                            <div>
                                                Already have an account?
                                                <u>
                                                    <a class="text-capitalize already" href="account/login/" style="color:#4f4f4f">Login
                                                        here</a>
                                                </u>
                                            </div>
                                            
                
                                        
                                </form>
                            </div>
                        </div>
                    </section>
                
                </div>

            </div>


        <!-- <div class="col mt-5">

            <h4 style="font-family:crimson text">COMMONLY ASKED QUESTIONS</h4>
            <ol>
                <li>What details are required to become a seller on Seventh Square?</li>
                <li>Can I create an account without GSTIN?</li>
                <li>Are there any registration charges on Seventh Square?</li>
                <li>If I sell on Seventh Square’s marketplace, will the customers know that he / she is purchasing the
                    product from me?</li>
                <li>How long does it take to start selling on the marketplace?</li>
                <li>My Company has multiple divisions , and we sell our products through different entities. Can we all
                    register on Seventh Square?</li>
                <li>I am unable to create an account. What do I do?</li>
            </ol>
        </div> -->
        <div class="col mt-5">
        <h4 class="font-weight-bold" style="font-family:crimson text">COMMONLY ASKED QUESTIONS</h4>
    <div id="accordionExample"  class="col">
        {% for i in posts %}
    
        <div id="f{{i.id}}" class="card-" >
        <h6 class="mb-0 "><span data-toggle="collapse" data-target="#f{{i.id}}-1" aria-expanded="false"
        aria-controls="f{{i.id}}-1" class="d-block  text-dark text-uppercase py-2"><strong>-</strong>
        &nbsp;{{i.question}}
        </span></h6>
        <div id="f{{i.id}}-1" aria-labelledby="f{{i.id}}" data-parent="#accordionExample" class="collapse">
        <div class="card-body p-3">
            <p class="font-weight-light m-0">{{i.answer|safe}} </p>
        </div>
    </div>
    </div>
        {% endfor %}
    </div></div>
        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-6">
                    <a href="/help-center" style="color: black;">
                        <p style="font-weight: 600;">Go back to Help Center</p>
                    </a>
                </div>
                <div class="col-6">
                    <a href="/help-center/manage-your-account" style="color: black;">
                        <p style="font-weight: 600;" class="float-right">Go to Manage your Account</p>
                    </a>

                </div>

            </div>
        </div>

    </div>

{% endblock content %}
{% block jsblock %}{% endblock jsblock %}