{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}Seller Profile | Seventh Square Seller{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}
    <link rel="stylesheet" href="{% static 'seventh-square/assets/css/bs-stepper/bs-stepper.min.css' %}" />
    <style>
        .custom-model-min-width{
            min-width: 44.5%;
        }

        .active .bs-stepper-circle {
            background-color: #4C5864;
        }
    </style>
{% endblock cssblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<!-- Messages Start --> 
				{% include 'seventh-square/layout/messages.html' %}
				{% if error %}
					<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
						{{ error|safe }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
			<!-- Messages END -->
			<div class="col-12 col-md-12 bg-white">
				<div class="row pl-0">
					<!-- Col-3 is written as sidebar -->
					<div class="custom-sidebar-col-width bg-brand-sidebar d-none d-md-block text-white">
						<div class="row pt-4 px-4">
							<div class="col-12"> {%include 'seventh-square/layout/sidebar.html' %} </div>
						</div>
					</div>
					<div class="custom-main-col-width">
						<div class="row px-4 pt-3">
							<div class="col-md-12">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a class="text-dark text-decoration-none" href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Edit New Product</li>
									</ol>
								</nav>
							</div>
						</div>
						<div class="row px-4">
							<div class="col-md-12 px-3">
								<h2 class="text-center text-black">Edit New Product</h2>
							</div>
						</div>
						<div class="row mx-2 mb-4">
							<div class="col-12">
                                <div class="card mb-3" id="all_fields_card">
                                    <div class="card-header py-3 text-left bg-brand">
                                        <h3 class="m-0 text-black">Product Details</h3>
                                    </div>
                                    <div class="card-body m-1 p-1">
                                        <div class="mb-5 bg-white shadow-sm">

                                            <div id="stepperForm" class="bs-stepper">
                                                
                                                <div class="bs-stepper-header" role="tablist">
                                                    <div class="step active" data-target="#stepper-form-1">
                                                        <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger1" aria-controls="stepper-form-1">
                                                            <span class="bs-stepper-circle">1</span>
                                                            <span class="bs-stepper-label">Basic Info</span>
                                                        </button>
                                                    </div>
                                                    <div class="bs-stepper-line"></div>
                                                    <div class="step" data-bs-skip data-target="#stepper-form-2">
                                                        <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger2" aria-controls="#stepper-form-2">
                                                            <span class="bs-stepper-circle">2</span>
                                                            <span class="bs-stepper-label">Variants</span>
                                                        </button>
                                                    </div>
                                                    <div class="bs-stepper-line"></div>
                                                    <div class="step" data-target="#stepper-form-3">
                                                        <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger3" aria-controls="#stepper-form-3">
                                                            <span class="bs-stepper-circle">3</span>
                                                            <span class="bs-stepper-label">More Info</span>
                                                        </button>
                                                    </div>
                                                    <div class="bs-stepper-line"></div>
                                                    <div class="step" data-target="#stepper-form-4">
                                                        <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger4" aria-controls="#stepper-form-4">
                                                            <span class="bs-stepper-circle">4</span>
                                                            <span class="bs-stepper-label"> Pricing</span>
                                                        </button>
                                                    </div>
                                                    <div class="bs-stepper-line"></div>
                                                    <div class="step" data-target="#stepper-form-5">
                                                        <button type="button" class="step-trigger" role="tab" id="stepperFormTrigger5" aria-controls="#stepper-form-5">
                                                            <span class="bs-stepper-circle">5</span>
                                                            <span class="bs-stepper-label">Shipping</span>
                                                        </button>
                                                    </div>
                                                </div>

                                                <div class="bs-stepper-content">
                                                    <div id="stepper-form-1"  role="tabpanel" class="bs-stepper-pane fade active" aria-labelledby="stepperFormTrigger1">
                                                        <form class="needs-validation"  method="POST" id="basic-info-form" novalidate="" enctype="multipart/form-data">
                                                                {% csrf_token %}
                                                            <div class="form-row mt-3">
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <label class="form-label" for="id_product_tittle">Product Title</label>
                                                                
                                                                <input class="form-control full_input" placeholder="SSIPL Pendant Light Bulb 10W"
                                                                        id="id_product_tittle" value="{{product_objs.product_title}}" type="text" title="Tip : Include Brand Name + Product Type + Size / Quantity + Relevant Keywords (if any) for best results." name="product_title" required>
                                                                </div>
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <label class="form-label" for="id_category">Category</label>
                                                                    <select name="category" id="id_category"
                                                                            class="form-select" id="subCategory" required
                                                                            onchange="handleSubCategoryChange(this);">
        
                                                                        <option disabled selected value="">Select Product Category</option>
                                                                        {% for category_obj in category_objs %}
                                                                            <option value="{{category_obj.id}}" {% if category_obj.id == product_objs.category.id %}selected{% endif %}><h1>{{ category_obj.name}}</h1></option>
                                                                        {% endfor %}
                                                                    </select>
                                                                </div>
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <label class="form-label" for="id_product_type">Product Type</label>
                                                                    <select class="form-select" list="datalistOptions" id="id_product_type"
                                                                        placeholder="Type your Product Name" name="product_type"
                                                                        required value="tril product listing">
                                                                        {% if product_objs.product_type.id %}
                                                                            <option value="{{product_objs.product_type.id}}" selected>{{product_objs.product_type.name}}</option>
                                                                        {% else %}
                                                                            <option value="" selected disabled>Select Product Type</option>
                                                                        {% endif %}
                                                                        
                                                                    </select>
                                                                    
                                                                </div>
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <label class="form-label d-flex justify-content-between" for="id_product_brand"><span>Product Brand</span>
                                                                        <span class="optional-color">Optional</span>
                                                                    </label>
                                                                    <input type="text" placeholder="Example Brand Name" name="product_brand"
                                                                        class="form-control full_input" id="id_product_brand" value="{{product_objs.product_brand}}" >
                                                                    <div class="invalid-feedback"></div>
                                                                </div>
        
                                                                <div class="form-group col-md-8 mb-4">
                                                                    <label class="w-100 form-label d-flex justify-content-between" for="id_product_description">
                                                                        <span>Product Description</span>
                                                                    </label>
                                                                    <textarea class="form-control" id="id_product_description" name="description" required="required" title="Write about your product's features, applications, benefits and USPs." spellcheck="false">{{product_objs.description}}</textarea>
                                                                    <div class="invalid-feedback"></div>
                                                                </div>
        
                                                                <div class="form-group col-md-8 mb-4">
                                                                    <label class="form-label d-flex justify-content-between" for="id_about_brand">
                                                                        <span>About Brand</span>
                                                                        <span class="optional-color">Optional</span>
                                                                    </label>
                                                                    <input type="text" id="id_about_brand" name="about_the_brand" value="{{product_objs.about_the_brand}}" class="form-control"
                                                                    title="Include Brand Name , Year of Inception , Products sold by the company. Any recognitions and registrations, and any other specialities that define your brand." >
                                                                    <div class="invalid-feedback"></div>
                                                                </div>
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <label class="form-label">Country of Origin</label>
                                                                    <select class="form-control" id="id_country_of_origin" name="country_of_origin" required
                                                                        title="Select the country where the final product was manufactured or produced.">
                                                                        <option value="" disabled selected>Select Country</option>
                                                                        {% for country_obj in country_objs %}
                                                                            <option value="{{ country_obj.id }}" {% if country_obj.id == product_objs.country_of_origin.id %}selected{% endif %}>{{ country_obj.name }}</option>
                                                                        {% endfor%}
                                                                    </select>
                                                                    <div class="invalid-feedback"></div>
                                                                </div>
        
                                                                <div class="form-group col-md-7 mb-4">
                                                                    <div class="row">
                                                                        <div class="col-12">
                                                                            <label class="form-label">Does Your Product have variants?</label>
                                                                        </div>
                                                                        <div class="col-12 text-left">
                                                                            <div class="row">
                                                                                <div class="col-xs-6 col-xl-3">
                                                                                    <input type="radio" name="var_added" value="True" id="id_var_added_yes" 
                                                                                    {% if product_objs.product_has_variant == True %}checked{% endif %} disabled />
                                                                                    <label for="id_var_added_yes">Yes</label>
                                                                                </div>
                                                                                <div class="col-xs-6 col-xl-3">
                                                                                    <input type="radio" class="ml-5" name="var_added" id="id_var_added_no"
                                                                                    {% if product_objs.product_has_variant == False %}checked{% endif %} value="False" disabled />
                                                                                    <label for="id_var_added_no" >No</label>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div id="var_added-error"></div>
                                                                </div>
                                                            </div>
                                                            <button class="btn btn-brand mt-3" type="submit">NEXT</button>
                                                        </form>
                                                    </div>

                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block jsblock %}
    <script rel="stylesheet" href="{% static 'seventh-square/assets/js/bs-stepper/bs-stepper.min.js' %}"></script>
    <script>
					
		$(document).ready(function () {
			var token = $("input[name=csrfmiddlewaretoken]").val();
	
			$("#basic-info-form").validate({
                errorPlacement: function(error, element) {
                    if (element.attr("name") == "var_added") {
                        error.insertAfter("#var_added-error");
                    } else {
                        error.insertAfter(element);
                    }
                },
                
                rules: {
                    product_title: {
                        required: true
                    },
                    category: {
                        required: true
                    },
                    product_type: {
                        required: true
                    },
                    description: {
                        required: true 
                    },
                    country_of_origin:{
                        required: true
                    },
                    var_added:{
                        required: true
                    }

                },
                messages: {
                    product_title: {
                        required: "This field is required."
                    },
                    category: {
                        required: "This field is required."
                    },
                    product_type: {
                        required: "This field is required."
                    },
                    description: {
                        required: "This field is required."
                    },
                    country_of_origin: {
                        required: "This field is required."
                    },
                    var_added:{
                        required: "Please choose one."
                    }
                }
            });
		});

		{% comment %} except-user-phone-number-check/ {% endcomment %}
	</script>
{% endblock jsblock %}