/* Logo */
.navbar-brand img {
    width: 150px; /* Adjust the logo size */
}

/* Navaigation */
.navbar-nav .nav-item .nav-link {
    color: white; /* Default color */
}

.bg-brand-orange {
    background-color: rgba(255, 127, 0, 1);
}

.text-brand-orange {
    color: rgba(255, 127, 0, 1) !important;
}

.brand-underline:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .navbar-brand img {
        width: 100px; /* Adjust the logo size */
    }

    .navbar-toggler {
        padding: 3px;
        z-index: 1500;
    }

    .bg-brand-orange {
        background-color: transparent;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        right: -100%; /* Initially hidden off-screen */
        width: 65%; /* Adjust the width as needed */
        height: 100vh; /* Full viewport height */
        transition: right 0.5s ease-in-out; /* Adjust the transition speed */
        background-color: black; /* Adjust the background color */
        z-index: 1000;
        padding-top: 60px; /* Adjust padding-top if needed */
    }

    .navbar-nav .nav-link {
        margin-bottom: 5px; /* Add spacing between menu items */
        border-bottom: 2px solid rgba(255, 127, 0, 1); /* Brand color border */
        display: block;
        padding: 8px 15px; /* Adjust padding as needed */
    }

    .navbar-toggler.custom-toggler:focus + .navbar-collapse {
        right: 0;
    }
}

/* main page fox sizing */
.bg-brand-box{
    background-color:rgba(238, 238, 238, 1)!important;
}

/* custom bs-stepper Code */
.custom-bs-stepper-contain{
    width:170px;
}

.reg-square-shadow {
    background-color: #ffffff;
    margin: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

/* Background Images Section */

.login-background {
    background: url(../img/banner/login-background-banner.png) no-repeat;
    background-position: right center;
    background-size: 100% 100%;
}



/* Footer Code */
.footer-background{
    background: #353535;
    color:white;
}

.footer-callus-background{
    background-color: #262626!important;
}

.footer-logo-info{
    font-size: 13px;
    color: #999;
    font-weight: normal;
}

.footer-color{
    color: #999999;
    font-weight: normal;
    font-size: 14px;
}

.footer-color-hover:hover{
    color: white !important;
    text-decoration: underline !important;
}

.footer-brand-color-hover:hover{
    color: #fd7e14 !important;
    font-size: 14px;
    cursor: pointer;
    }

.footer-white-color-hover:hover{
    color: white !important;
    /* font-size: 14px; */
    cursor: pointer;
}


.form-label-normal-font-style{
    font-size:14px;
    color:black;
}

/* Banner */

.custom-main-banner {
    position: relative;
    height: 599px;
}

.custom-main-banner img {
    height:100%;
    width:100%;
}

.carousel-content-container {
    position: absolute;
    top: -73px;
    left: 0;
    width: 47%;
    height: 100%;
    display: flex;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black; /* Text color */
    padding: 20px; /* Adjust the padding as needed */
    box-sizing: border-box;
}

/* Media query for screens up to 720px */
@media (max-width: 768px) {
    .carousel-content-container {
        position: static;
        width: auto;
        height: auto;
        padding: 7%;
    }

    .custom-main-banner {
        height: 100%;
        position: static;
    }

    .custom-main-banner img {
        height:100%;
        width:100%;
    }
}