<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <style>

        li {
                list-style: none;
        }

    </style>
</head>
<body>
    Dear {{username}},
    <p><font> &#10004; </font>Email / Username: <b>{{username}}</b></p>
    <p><font> &#10004; </font>Please do not share this mail with any one,</p>
    <p><font> &#10004; </font>Please click on the button to confirm your registration,</p><br/>

    <a style="border:2px solid green;padding:5px; background-color: white;color:black;text-decoration: none;font-size: 16px;border-radius: 5px;margin-left: 50px;" class="a-hover" href="http://{{ domain }}{% url 'app_user:emailActivate' uidb64=uid token=token %}">Click Here</a> <br/><br/>

    <p><font> &#10004; </font>After clicking above button, Your initial registration is complete with us.</p> <br/>

    <p>
        <br>
        Best Regards, <br>
        SeventhSq Team <br>
        <a href="javascript:void(0);" target="_blank">Seventh Square</a>
    </p>
    <br/>
</body>
</html>