{% load static %}
{% if messages %}
  <div class="row">
    <div class="col-12">
      {% for message in messages %}
      <div class="alert {{ message.tags }} alert-dismissible fade show pl-2 pr-5" role="alert">
        <div class="iq-alert-text">{{ message|safe }}</div>
        <button type="button" class="close text-dark" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    </div>
  </div>
{% endif %}