{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}
{% block content %}
    <div class="container p-3">
        <div class="row mt-5">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-7">
                        <h1 style="
                            font-weight: 800;
                            font-size: 47px;
                            ">SELL TO BUILDERS, ARCHITECTS,
                            INTERIOR DESIGNERS, VENDORS,
                            BUSINESS AND INDIVIDUAL HOME
                            BUILDERS FROM A SINGLE PLATFORM
                        </h1>
                        <h5 class="mt-4" style="font-size: 29px;">
                            INTRODUCING SEVENTH SQUARE AS A ONESTOP E-COMMERCE MARKETPLACE FOR
                            BUILDING MATERIALS & HOME IMPROVEMENT
                            PRODUCTS IN INDIA!
                        </h5>
                    </div>
                    <div class="col-md-5 mt-5">
                        <img src="{% static 'seventh-square/assets/img/Seller  About Us Page.png' %}" style="    width: 100%;
                            height: 104%;margin-right: 59px;">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-12">
                <h2 style="font-size: 29px;">BENEFITS OF OUR SELLER PORTAL</h2>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-md-3 col-sm-6 my-3">
                <div class="card p-2"
                    style="height:335px;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">
                    <p style="text-align: center;font-weight: 700;">SINGLE WINDOW TO ACCESS
                        MULTIPLE CUSTOMER SEGMENTS
                    </p>
                    <p style="text-align: center; font-size: 13px;">Seventh Square is the only portal in
                        India which offers Manufacturers and
                        Retailers to sell their products across
                        Customer Segments (both B2B &
                        B2C) from a single window
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <div class="card p-2"
                    style="height:335px;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">
                    <p style="text-align: center;font-weight: 700;">SIMPLEST AND LOWEST PRICING
                        MODEL
                    </p>
                    <p style="text-align: center;font-size: 13px;">
                        In Online retail, we have the easiest to
                        understand pricing model, which
                        makes it easy for you to sell online.
                        Not only that, we also make sure your
                        margins stay with you by charging
                        lowest across categories!
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <div class="card p-2" style="height:335px;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">
                    <p style="text-align: center;font-weight: 700;">EASY TO ACCESS <br>SUPPORT </p>
                    <p style="text-align: center;font-size: 13px;">
                        For any enquiry, we have provided
                        you with support on Phone , Email ,
                        Whatsapp and our varied Knowledge
                        Base on the Website, so your queries
                        are answered instantly
                    </p>
                </div>
            </div>
            <div class="col-md-3 col-sm-6 my-3">
                <div class="card p-2" style="height:335px;background-color: rgb(200, 203, 220);justify-content: center;align-items: center;border-radius: 0;">
                    <p style="text-align: center;font-weight: 700;">QUICK PAYMENT
                        INFRASTRUCTURE
                    </p>
                    <p style="text-align: center;font-size: 13px;">Get payments in your account within
                        1 day of successful delivery!
                        Keep your sales up and cash flows
                        consistent when you sell with us.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-5 mt-5">
        <div class="col-12">
            <h2 style="font-size: 29px;">KEY FEATURES OF THE PLATFORM</h2>
        </div>
    </div>

    <div class=" mt-5 ml-5 ">
        <div class="row " style="">
        <div class="col-sm-6 my-2 col-md-3">
            <div style="
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                <div class="col-md-12">
                    <h1 style="text-align: center;font-weight:700">
                    16
                    </h1>
                    <p style="text-align: center;">
                    Product Categories<br>
                    available on the<br>
                    platform
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-2 col-md-3">
            <div style="
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                <div class="col-md-12">
                    <h1 style="text-align: center;font-weight:700">
                    150
                    </h1>
                    <p style="text-align: center;">
                    Product Types spanning
                    <br>
                    the industry and<br>
                    counting
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-2 col-md-3">
            <div style="
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                <div class="col-md-12">
                    <h1 style="text-align: center;font-weight:700">
                    1000
                    </h1>
                    <p style="text-align: center;">
                    Products available for<br>
                    sale on the platform<br>
                    and counting!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 my-2 col-md-3">
            <div style="
                width: 210px;
                height: 210px;
                border-radius: 50%;
                background-color: rgb(200, 203, 220);
                display: flex;
                align-items: center;
                justify-content: center;">
                <div class="col-md-12">
                    <h1 style="text-align: center;font-weight:700">
                    100
                    </h1>
                    <p style="text-align: center;">
                    Registered Sellers<br>
                    across India and<br>
                    counting!
                    </p>
                </div>
            </div>
        </div>
        </div>
    </div>

    
{% endblock content %}
{% block jsblock %}{% endblock jsblock %}