{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}

{% block content %}

<div  style="margin: 6px;margin-top:29px; background-color: #fff;">
    <div style="font-size: 20px;margin: 5px; " class="">
        <h2 style=" text-align: left;padding-top: 30px;
            font-size: 25px;
            color: #4f5052;
            font-weight: 500;    margin-left: 68px;
            margin-bottom: -65px;"><a id="Dashboard"  href="/" style="color: #4f5052;">Dashboard </a></h2>
        <h2 style=" padding-top: 30px;
            font-size: 25px;
            color: #4f5052;
            font-weight: 500;   
            text-align: right;
            margin-right: 80px;
            margin-bottom: -65px;"><a id="Help" href="/help-center" style="color: #4f5052;" >Help Center</a></h2>
    </div>
    <div id="head" style="font-size: 20px;margin: 5px; text-align: center; ">
        <h1 style="
            margin-top: 20px;
            font-size: 35px;
            color: #4f5052;
            font-weight: 500;
            font-family: crimson;">
            Frequently Asked Questions
        </h1>
    </div>
    <style>
        @media (max-width: 567px) {
        .ff{
        margin-left: 8%;
        }
        .linee {
        display: none !important;
        }
        }
    </style>
    <div class=" first ff mt-5 mb-5 d-flex justify-content-around">
        <div class="text-center">
            <a href="?gs=Getting%20Started#G">
                <img src="{% static 'seventh-square/assets/img/help-center/gettingstartedimage.png' %}"
                    class="mb-3"  alt="Getting Started" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Getting Started</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?mya=Manage%20your%20account#M">
                <img src="{% static 'seventh-square/assets/img/help-center/manageaccountimage.png' %}"
                    class="mb-3"  alt="Manage your account"  style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Manage your account</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?ap=Adding%20Products#AP">
                <img src="{% static 'seventh-square/assets/img/help-center/addingproductimage.png' %}" style="height: 110px;"
                    class="mb-3"  alt="Adding Products">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Adding Products</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?po=Processing%20Orders#PO">
                <img src="{% static 'seventh-square/assets/img/faq/faqprocessingorder.png' %}"  style="height: 110px;"
                    class="mb-3"  alt="Processing Orders">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Processing Orders</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?pp=Pricing%20Payments#PP">
                <img src="{% static 'seventh-square/assets/img/help-center/pricingpaymentimage.png' %}" style="height: 110px;"
                    class="mb-3"  alt="Pricing & Payments">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Pricing & Payments</h3>
            </a>
        </div>
    </div>
    <div>
        <div class="container linee" style="
            border: solid 1px rgb(175, 167, 167);
            width: 100%;
            ;">
        </div>
    </div>
    <!-- ----------------------------------------------------------second----------------------------------- -->
    <style>
        @media (max-width: 567px) {
        .ff2{
        margin-left: 8%;
        }
        .advertising {
        margin-left: 2% !important;
        }
        .Policy{
        margin-left: 2% !important;
        margin-top: 10px !important;
        }
        #Disputes{
        margin-left: -8% !important;
        }
        #Advertisingtxt{
        margin-left: 29px !important;
        }
        #Policytxt{
        margin-left: -2px !important;
        }
        .question{
        margin-left: 0px !important;
        }
        .resolve{
        margin-left: 0px !important;
        }
        .iconz{
        margin-left: 25px !important;
        }
        .icon3{
        margin-left: 25px !important;
        }
        .iconss{
        display: none !important;
        }
        }
    </style>
    <div class=" first ff2 mt-5 d-flex justify-content-around">
        <div class="text-center">
            <a href="?sr=Shipping%20Returns#SR">
                <img src="{% static 'seventh-square/assets/img/help-center/processingorderimage.png' %}"
                    class="mb-3" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Shipping &amp; Returns</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?a=Advertising%20#A">
                <img src="{% static 'seventh-square/assets/img/faq/faqadvertising.png' %}"
                    class="mb-3" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Advertising</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?ps=Policy%20Security#PS">
                <img src="{% static 'seventh-square/assets/img/faq/faqpolicysecurity.png' %}"
                    class="mb-3" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Policy &amp; Security</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?e=Enquiries#E">
                <img src="{% static 'seventh-square/assets/img/faq/faqenquiries.png' %}"
                    class="mb-3" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Enquiries</h3>
            </a>
        </div>
        <div class="text-center">
            <a href="?dr=Disputes%20Resolution#D">
                <img src="{% static 'seventh-square/assets/img/faq/faqdisputesresolution.png' %}"
                    class="mb-3" style="height: 110px;">
                <h3 class="fw-bold" style="font-size: 22px; color: #686868;">Disputes &amp; Resolution</h3>
            </a>
        </div>
    </div>
</div>
<!-- <div id="accordionExample" class="accordion">
    {% for i in posts %}
    <div class="card">
      <div id="f{{i.id}}" class="card-header bg-grey ">
        <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f{{i.id}}-1" aria-expanded="false"
            aria-controls="f{{i.id}}-1" class="d-block  text-dark text-uppercase py-2"><strong>{{i.id}}.</strong>
            &nbsp;{{i.question}}
          </span></h6>
          <div id="f{{i.id}}-1" aria-labelledby="f{{i.id}}" data-parent="#accordionExample" class="collapse">
            <div class="card-body p-3">
              <p class="font-weight-light m-0">{{i.answer|safe}} </p>
            </div>
            {% endfor %}
        </div> 
        </div></div>
        </div> -->
<div class="col-md-6 mt-5 question " style="margin-left: 65px;">
    {% if request.GET.a %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="A">Advertising</h4>
    {% elif request.GET.e %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="E">Enquiries</h4>
    {% elif request.GET.gs %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="G">Getting Started</h4>
    {% elif request.GET.mya %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="M">Manage your account</h4>
    {% elif request.GET.ap %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="AP">Adding Products</h4>
    {% elif request.GET.po %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="PO">Processing Orders</h4>
    {% elif request.GET.pp %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="PP">Pricing & Payments</h4>
    {% elif request.GET.dr %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="D">Disputes & Resolution</h4>
    {% elif request.GET.sr %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="SR">Shipping & Returns</h4>
    {% elif request.GET.ps %}
    <h4 style="font-family:crimson text; font-weight: 700;" id="PS">Policy & Security</h4>
    {% else %}
    <h4 style="font-family:crimson text; font-weight: 700;" >Most Popular Queries</h4>
    {% endif %}
    <div id="accordionExample"  class="accordion ml-5 mt-5">
        {% for i in posts %}
        {{i.tage_type}}
        <div id="f{{i.id}}" class="card-" style="background-color: white;">
            <h6 class="mb-0 font-weight-bold"><span data-toggle="collapse" data-target="#f{{i.id}}-1" aria-expanded="false"
                aria-controls="f{{i.id}}-1" class="d-block  text-dark text-uppercase py-2"><strong>{{i.id}}.</strong>
                &nbsp;{{i.question}}
                </span>
            </h6>
            <div id="f{{i.id}}-1" aria-labelledby="f{{i.id}}" data-parent="#accordionExample" class="collapse">
                <div class="card-body p-3">
                    <p class="font-weight-light m-0">{{i.answer|safe}} </p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<div class="col-md-6 mt-5 resolve" style="margin-left: 65px;">
    <h4 style="font-family:crimson text; font-weight: 700; ">Didn't resolve your query? Reach out to us directly</h4>
</div>
<div class="container row mt-5 iconz">
    <div class="col-md-1 " style="margin-left: 100px;">
        <i style="margin-right: 15px; background-color: #0c0c0c; color: rgb(255, 255, 255); padding: 10px; border-radius: 50%;"
            class="fa fa-phone fa-1x"></i>
    </div>
    <div class="col-md-6">
        <h5>Call at +91-9024139976</h5>
    </div>
</div>
<div class="container row mt-4 iconz">
    <div class="col-md-1 " style="margin-left: 100px;">
        <i class="fa fa-envelope"
            style="margin-right: 15px; background-color: #0c0c0c; color: rgb(255, 255, 255); padding: 10px; border-radius: 50%;"></i>
    </div>
    <div class="col-md-6">
        <h5> seller@seventhsq.com</h5>
    </div>
</div>
<div class="container row mt-5 icon3">
    <div class="col-md-1 iconss" style="margin-left: 100px;"><a
        href="https://www.facebook.com/Seventh-Square-101727191683337/" style="color:black" target='_blank'>
        <i class="bi bi-facebook" style="font-size: 2em;" ></i></a>
    </div>
    <div class="col-md-1" style="margin-left: -50px;"><a style="color:black"  href="https://www.instagram.com/seventhsquare/" target='_blank'>
        <i class="bi bi-instagram" style="font-size: 2em;"></i></a>
    </div>
    <div class="col-md-1"style="margin-left: -50px;"><a style="color:black"  href="https://twitter.com/SeventhSq" target='_blank'>
        <i class="bi bi-twitter" style="font-size: 2em;"></i></a>
    </div>
    <div class="col-md-1"style="margin-left: -50px;"><a style="color:black"  href="https://www.linkedin.com/company/seventh-square"
        target='_blank'>
        <i class="bi bi-linkedin" style="font-size: 2em;"></i></a>
    </div>
    <div class="col-md-1"style="margin-left: -50px;"><a style="color:black" 
        href="https://wa.me/9024139976" target='_blank'>
        <i class="bi bi-whatsapp" style="font-size: 2em;"></i></a>
    </div>
</div>
</div>
    
    
{% endblock content %}

{% block jsblock %}{% endblock jsblock %}