{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}
{% block content %}
<div class="container-fluid">
    <div class="row p-5">
        <!-- Messages Start -->
        {% comment %} {% include 'seventh-square/layout/messages.html' %} {% endcomment %}
        <!-- Messages END -->
        <div class="col-12">
            this is seller with us page 

        </div>            
    </div>
</div>
{% endblock content %}
{% block jsblock %}{% endblock jsblock %}