{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}
{% block content %}
<div class="container-fluid login-background">
    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
        {{ error|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="row p-5">
        <div class="col-12 col-md-5 mx-auto bg-white p-4">
            <h3 class="text-capitalize text-center">Forgot Password?</h3>
            <p class="text-center">Reset your password easily by following the instructions below</p>
            <form class="" method="POST" action="" id="basic-form">
                {%csrf_token%}
                <p class="text-left">Enter your Registered Email or Phone Number</p>

                <div class="form-group">
                    <input class="form-control" name="email" id="emaill" placeholder="Email Address">
                    <p class="text-center my-2"> OR</p>
                    <input class="form-control" name="mobile_number" id="id_mobile_number" placeholder="Phone Number">
                </div>
                <div class="form-group">
                    <button onclick="store()" class="btn btn-brand py-2 my-3 w-100" type="submit">Proceed to reset</button>
                </div>
            </form>
            <div class="d-flex justify-content-between">
                <a class="text-dark text-decoration-none" href="/help-center/"> Need Help? </a>
                <a class="text-dark text-decoration-none" href="javascript:void(0);">Contact Support</a>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsblock %}{% endblock jsblock %}