{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}Seller Profile | Seventh Square Seller{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}
<style>
    .bg-brand-custom-main-col{
    	background-color: #F5F5F5!important;
    }
    
    .custom-model-min-width{
    	min-width: 44.5%;
    }
</style>
{% endblock cssblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row">
			<!-- Messages Start --> 
				{% include 'seventh-square/layout/messages.html' %}
				{% if error %}
					<div class="alert alert-danger alert-dismissible fade show mb-0" role="alert">
						{{ error|safe }}
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
				{% endif %}
			<!-- Messages END -->
			<div class="col-12 col-md-12 bg-white">
				<div class="row pl-0">
					<!-- Col-3 is written as sidebar -->
					<div class="custom-sidebar-col-width bg-brand-sidebar d-none d-md-block text-white">
						<div class="row pt-4 px-4">
							<div class="col-12"> {%include 'seventh-square/layout/sidebar.html' %} </div>
						</div>
					</div>
					<div class="custom-main-col-width bg-brand-custom-main-col">
						<div class="row px-4 pt-3">
							<div class="col-md-12">
								<nav aria-label="breadcrumb">
									<ol class="breadcrumb">
										<li class="breadcrumb-item"><a class="text-dark text-decoration-none"  href="/">Home</a></li>
										<li class="breadcrumb-item active" aria-current="page">Your Profile</li>
									</ol>
								</nav>
							</div>
						</div>
						<div class="row px-4">
							<div class="col-md-12 px-3">
								<h2 class="text-left">Seller Profile</h2>
							</div>
						</div>
						<div class="row mx-2 mb-4">
							<div class="col-12">
								<div class="card border border-0 p-3">
									<div class="card-body">
										<div class="row">
											<div class="col-12">
												<h5 class="d-inline-block  mb-0">Account Info</h5>&nbsp; <a href="javascript:void(0);" type="button" class="btn text-black pb-1" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#accountInfoDropdown"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill align-top" viewBox="0 0 16 16">
														<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
													</svg> </a> <!-- Start Account Info Modal -->
												<div class="modal fade" id="accountInfoDropdown" data-bs-keyboard="false" tabindex="-1" aria-labelledby="accountInfoDropdownLabel" aria-hidden="true">
													<div class="modal-dialog custom-model-min-width">
														<div class="modal-content">
															<div class="modal-header border-0 pb-2">
																<h1 class="modal-title fs-4" id="accountInfoDropdownLabel">Account Info</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body pt-2"> 
																<form class="row" method="post" action=""  id="account-info-basic-form" class="needs-validation" novalidate="novalidate">
																	{% csrf_token %}
																	<div class="col-md-12">
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_first_name" class="col-form-label">Name</label> </div>
																			<div class="col-12"> <input type="text" value="{{request.user.first_name}}" required id="id_first_name" name="first_name" class="form-control"> </div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_mobile_number" class="col-form-label">Mobile Number</label> </div>
																			<div class="mb-3 col-md-9"> 
																				<input type="text" value="{{ request.user.seller_phone_number.ph_number }}" onkeyup="PhoneNumberExist(this.value);" required id="id_mobile_number" class="form-control" maxlength="10" name="mobile_number" placeholder="Number"> 
																				<label id="id_mobile_number-error" class="error" for="id_mobile_number" style="display: none;"></label>
																				<span id="id_mobile_numberError"></span>
																			</div>
																			<div class="mb-3 col-md-3">
																				<input type="button" name="mobile_send_otp" class="btn btn-secondary text-wrap py-2 mt-1 form-control" style="font-size:9px;" value="SEND OTP" onclick="SendOtpToContactNunber(this.value);" id="id_mobile_send_otp" disabled="">
																				<span id="id_mobile_send_otpError"></span>
																			</div>
																		</div>
																		<div class="col-md-12 mb-3">
																			<input type="hidden" name="mobile_otp" placeholder="Enter OTP" onkeyup="VerifySendedContactNunber(this.value);" maxlength="6" class="form-control" id="id_mobile_otp">
																			<span id="id_mobile_otpError"></span>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_email" class="col-form-label">Email</label> </div>
																			<div class="col-12"> 
																				<input type="email" value="{{ request.user.email }}" id="id_email" required class="form-control" name="email" placeholder="Email">
																				<label id="id_email-error" class="error" for="id_email" style="display: none;"></label>
																				<span id="id_emailError"></span>
																			</div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_show_password" class="col-form-label">Password</label> </div>
																			<div class="col-12"> <input type="password" value="{{ request.user.show_password|default_if_none:'' }}"  required class="form-control" id="id_show_password" name="password" required placeholder="Password"> </div>
																		</div>
																		<div class="row my-4">
																			<div class="col-12 d-flex justify-content-end">
																				<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button> 
																				<button type="submit" class="btn px-3 m-1 btn-brand" id="submit-basic-form" name="form_model_type" value="account_info_model">save</button>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div> <!-- End Account Info Modal -->
											</div>
											<div class="col-12 col-md-9">
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_first_name" class="col-form-label">Name</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_first_name" value="{{ request.user.first_name }}" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_phone_number" class="col-form-label">Phone Number</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_phone_number" value="{{ request.user.seller_phone_number.ph_number }}" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_email" class="col-form-label">Email ID</label> </div>
													<div class="col-9"> <input readonly type="email" id="id_verify_email" value="{{ request.user.email }}" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_show_password" class="col-form-label">Password</label> </div>
													<div class="col-9"> 
														<div class="input-group mb-3">
															<input class="form-control" readonly id="id_verify_show_password" value="{{ request.user.show_password }}" placeholder="Password">
															<span class="input-group-text bg-secondary text-white">
																<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
																	<path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z"/>
																	<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
																</svg>
															 </span>
														  </div>
													</div>
												</div>
											</div>
										</div>
										<div class="row py-5">
											<div class="col-12">
												<h5 class="d-inline-block  mb-0">Seller Info</h5>&nbsp; <a href="javascript:void(0);" type="button" class="btn text-black pb-1" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#sellerInfoDropdown"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill align-top" viewBox="0 0 16 16">
														<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
													</svg> </a> <!-- Start Seller Info Modal -->
												<div class="modal fade" id="sellerInfoDropdown" data-bs-keyboard="false" tabindex="-1" aria-labelledby="sellerInfoDropdownLabel" aria-hidden="true">
													<div class="modal-dialog custom-model-min-width">
														<div class="modal-content">
															<div class="modal-header modal-header border-0 pb-2">
																<h1 class="modal-title fs-4" id="sellerInfoDropdownLabel">Seller Info</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body pt-2"> 
																<form class="row" method="post" action="" id="seller-info-basic-form" class="needs-validation" novalidate="novalidate">
																	{% csrf_token %}
																	<div class="col-md-12">
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_company_name" class="col-form-label">Company Legal Name</label> </div>
																			<div class="col-12"> <input type="text" oninput="this.value = this.value.toUpperCase();" value="{{request.user.seller_company_detail.company_name}}" required id="id_company_name" name="company_name" class="form-control" placeholder="Company Name"> </div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_address_line_1" class="col-form-label ">Company Registered Address</label>
																				<div class="row">
																					<div class="col-sm-4"> 
																						<select class="form-select" required name="state">
																							<option disabled value="" selected>Select State</option>  
																							{% if state_obj %}
																								{% for state in state_obj %} 
																									<option value="{{state.id}}" {% if state.id == request.user.seller_company_address.state.id %}selected{% endif %}>{{state.name}}</option> 
																								{% endfor %}
																							{% endif %} 
																						</select>
																					</div>
																					<div class="col-sm-4"> 
																						<select class="form-select" required name="city"> 
																							<option disabled value="" selected>Select City</option> 
																							{% if city_obj %}
																								{% for city in city_obj %} 
																									<option value="{{city.id}}" {% if city.id == request.user.seller_company_address.city.id %}selected{% endif %}>{{city.name}}</option> 
																								{% endfor %}
																							{% endif %} 
																						</select> 
																					</div>
																					<div class="col-sm-4"> <input type="text" class="form-control" placeholder="Pincode" value="{% if request.user.seller_company_address.pin_code %}{{request.user.seller_company_address.pin_code}}{% endif %}" name="pincode"> </div>
																					<div class="col-sm-12 mt-2">
																						<div class="md-form mt-0"> <input type="text" class="form-control" placeholder="Address" value="{{request.user.seller_company_address.address_line_1}}" name="address"> </div>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_company_gst_number" class="col-form-label">GSTIN</label> </div>
																			<div class="col-12"> <input type="text" id="id_company_gst_number" oninput="this.value = this.value.toUpperCase();" name="company_gst_number" required value="{{request.user.seller_gst_detail.company_gst_number|default_if_none:''}}" class="form-control" placeholder="Company GST"> </div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_company_verification" class="col-form-label">Company Verification {% if account.Company_verification %} <span style="color: green;"> <i class="icon ion-android-checkbox"></i> Verified </span> {% endif %} </label>
																				<div class="row">
																					<div class="col-md-4"> <select class="form-select" id="id_company_verification" name="document_type"> 
																						{% for choice in pan_cin_choices %}
																							<option value="{{ choice.0 }}" {% if request.user.seller_pan_cin_detail.document_type == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
																						{% endfor %}
																						</select> </div>
																					<div class="col-md-4"> <input type="text" class="form-control" oninput="this.value = this.value.toUpperCase();" required placeholder="" name="documnet_id" value="{{request.user.seller_pan_cin_detail.documnet_id}}"> </div>
																				</div>
																			</div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_about_brand" class="col-form-label">About The Brand</label> </div>
																			<div class="col-12"> <textarea type="text" id="id_about_brand" required class="form-control" placeholder="About The Brand" name="about_brand" spellcheck="false">{{request.user.seller_company_detail.about_brand|default_if_none:''}}</textarea> </div>
																		</div>
																		<div class="row my-4">
																			<div class="col-12 d-flex justify-content-end">
																				<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button> 
																				<button type="submit" class="btn px-3 m-1 btn-brand" name="form_model_type" value="seller_info_model">save</button>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div> <!-- End Seller Info Modal -->
											</div>
											<div class="col-12 col-md-9">
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_company_name" class="col-form-label">Company Legal Name</label> </div>
													<div class="col-9"> <input readonly type="text" value="{{request.user.seller_company_detail.company_name|default_if_none:''}}" id="id_verify_company_name" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_address_line_1" class="col-form-label">Company Address</label> </div>
													<div class="col-9"> <input readonly type="text" value="{{request.user.seller_company_address.address_line_1|default_if_none:''}}" id="id_verify_address_line_1" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_company_gst_number" class="col-form-label">GSTIN</label> </div>
													<div class="col-9"> <input readonly type="rext" value="{{request.user.seller_gst_detail.company_gst_number|default_if_none:''}}" id="id_verify_company_gst_number" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_documnet_id" class="col-form-label">Company Verification</label> </div>
													<div class="col-9">
														<div class="row">
															<div class="col-6"> <select class="form-select" disabled id="id_verify_document_type">
																{% for choice in pan_cin_choices %}
																	<option value="{{ choice.0 }}" {% if request.user.seller_pan_cin_detail.document_type == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
																{% endfor %}
																</select> </div>
															<div class="col-6"> <input readonly id="id_documnet_id" value="{{request.user.seller_pan_cin_detail.documnet_id|default_if_none:''}}" type="text" class="form-control"> </div>
														</div>
													</div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_about_brand" class="col-form-label">About Brand</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_about_brand" value="{{request.user.seller_company_detail.about_brand|default_if_none:''}}" class="form-control"> </div>
												</div>
											</div>
										</div>
										<div class="row py-3">
											<div class="col-12">
												<h5 class="d-inline-block  mb-0">Account Settings</h5>
											</div>
											<div class="col-12 col-md-9">
												<form class="row" method="post" action=""  id="account-setting-basic-form" class="needs-validation" novalidate="novalidate">
													{% csrf_token %}
													<div class="col-6"> <label for="id_order_handling_time" class="my-2">Set Default Order Processing Time</label>
														<div class="col-md-6"> <select class="form-select" id="id_order_handling_time" required name="order_handling_time" aria-placeholder="Estimated Delivery time">
															<option value="" selected disabled>Select Days</option>
															{% for choice in order_handing_time %}
																<option value="{{ choice.0 }}" {% if request.user.seller_profile_setting.order_handling_time == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
															{% endfor %}
															</select> </div>
													</div>
													<div class="col-6"> <label for="id_order_cutt_off_time" class="my-2"> Set Default Order Cut off time</label>
														<div class="col-6"> <select class="form-select" required id="id_order_cutt_off_time" name="order_cutt_off_time" aria-placeholder="Estimated Delivery time">
																<option value="" selected disabled>Select Time</option>
																{% for choice in order_cut_off_time %}
																	<option value="{{ choice.0 }}" {% if request.user.seller_profile_setting.order_cutt_off_time == choice.0 %}selected{% endif %}>{{ choice.1 }}</option>
																{% endfor %}
															</select> </div>
													</div>
													<div class="col-12">
														<div class="d-block">
															<h5 class="mt-4 font-size-10px open-sans-font"><strong> Notifications & Communications Settings </strong></h5>
														</div>
														<div class="row py-3">
															<div class="col-6"> 
																<label><span class=""> Receive Order Updates</span></label> <br> 
																<label class="font-size-14px" for="id_receive_order_update_whatsapp"><input type="checkbox" id="id_receive_order_update_whatsapp" name="receive_order_update_whatsapp" {% if request.user.seller_profile_setting.receive_order_update_whatsapp == True %} checked{% endif %}>&nbsp;&nbsp;Whatsapp</label> <br> 
																<label class="font-size-14px" for="id_receive_order_update_call"><input type="checkbox" id="id_receive_order_update_call" name="receive_order_update_call" {% if request.user.seller_profile_setting.receive_order_update_call == True %} checked{% endif %}>&nbsp;&nbsp;Call</label> <br> 
																<label class="font-size-14px" for="id_receive_order_update_email"><input type="checkbox" id="id_receive_order_update_email" name="receive_order_update_email" {% if request.user.seller_profile_setting.receive_order_update_email == True %} checked{% endif %}>&nbsp;&nbsp;Email</label> </div>
															<div class="col-6"> 
																<label for="a"> <span class=""> Receive Payment Updates</span> </label> <br> 
																<label class="font-size-14px" for="id_receive_payment_update_whatsapp"><input type="checkbox" id="id_receive_payment_update_whatsapp" name="receive_payment_update_whatsapp" {% if request.user.seller_profile_setting.receive_payment_update_whatsapp %} checked{% endif %}>&nbsp;&nbsp;Whatsapp</label><br> 
																<label class="font-size-14px" for="id_receive_payment_update_call"><input type="checkbox" id="id_receive_payment_update_call" name="receive_payment_update_call" {% if request.user.seller_profile_setting.receive_payment_update_call %} checked{% endif %}>&nbsp;&nbsp;Call</label><br>
																<label class="font-size-14px" for="id_receive_payment_update_email"><input type="checkbox" id="id_receive_payment_update_email" name="receive_payment_update_email" {% if request.user.seller_profile_setting.receive_payment_update_email %} checked{% endif %}>&nbsp;&nbsp;Email</label> </div>
															<div class="col-12 mt-3"> <button class="btn btn-brand px-5" type="submit" name="form_model_type" value="account_setting_model" >Save</button> </div>
														</div>
													</div>
												</form>
											</div>
										</div>
										<div class="row py-3">
											<div class="col-12">
												<h5 class="d-inline-block mb-0">Bank Account Info</h5> &nbsp; <a href="javascript:void(0);" type="button" class="btn text-black pb-1" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#bankAccoountInfoDropdown"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill align-top" viewBox="0 0 16 16">
														<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
													</svg> </a> <!-- Start BankAccount Info Modal -->
												<div class="modal fade" id="bankAccoountInfoDropdown" data-bs-keyboard="false" tabindex="-1" aria-labelledby="bankAccoountInfoDropdownLabel" aria-hidden="true">
													<div class="modal-dialog custom-model-min-width">
														<div class="modal-content">
															<div class="modal-header">
																<h1 class="modal-title fs-5" id="bankAccoountInfoDropdownLabel">Bank Account Info</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
															</div>
															<div class="modal-body"> 
																<form class="row" method="post" action=""  id="bank-account-info-basic-form" class="needs-validation" novalidate="novalidate">
																	{% csrf_token %}
																	<div class="col-md-12">
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_account_holder" class="col-form-label">Account Holder Name</label> </div>
																			<div class="col-12"> <input type="text" oninput="this.value = this.value.toUpperCase();" id="id_account_holder" value="{{request.user.seller_bank_verification.account_holder}}" required class="form-control" name="account_holder" placeholder="Account Holder Name"> </div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_account_number" class="col-form-label">Account Number</label> </div>
																			<div class="col-12"> <input type="text" value="{{request.user.seller_bank_verification.account_number}}" class="form-control" required id="id_account_number" name="account_number" placeholder="account_number"> </div>
																		</div>
																		<div class="row my-3">
																			<div class="col-12"> <label for="id_ifsc" class="col-form-label">IFSC Code</label> </div>
																			<div class="col-12"> <input type="text" oninput="this.value = this.value.toUpperCase();" value="{{request.user.seller_bank_verification.ifsc}}" id="id_ifsc" class="form-control" required name="ifsc" name="ifsc_code" placeholder="IFSC Code"> </div>
																		</div>
																		<div class="row my-4">
																			<div class="col-12 d-flex justify-content-end">
																				<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button> 
																				<button type="submit" class="btn px-3 m-1 btn-brand" name="form_model_type" value="bank_account_info_model">save</button>
																			</div>
																		</div>
																	</div>
																</form>
															</div>
														</div>
													</div>
												</div> <!-- End BankAccount Info Modal -->
											</div>
											<div class="col-12 col-md-9">
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_account_number" class="col-form-label">Bank Account Number</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_account_number" name="account_number" value="{{request.user.seller_bank_verification.account_number}}"  class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_account_holder" class="col-form-label">Account Holder Name</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_account_holder" name="verify_account_holder" value="{{request.user.seller_bank_verification.account_holder}}" class="form-control"> </div>
												</div>
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_ifsc" class="col-form-label">IFSC Code</label> </div>
													<div class="col-9"> <input readonly type="text" id="id_verify_ifsc" name="id_ifsc" value="{{request.user.seller_bank_verification.ifsc}}" class="form-control"> </div>
												</div>
											</div>
										</div>
										<div class="row py-3">
											<div class="col-12">
												<div class="d-block">
													<h5 class="d-inline-block  mb-0">Warehouse</h5>
												</div>
											</div>
											<div class="col-12">
												{% for warehouse in  request.user.inventory_warehouse_location.all %}
												<div class="row my-3">
													<div class="col-3"> <label for="id_verify_wearhouse_address_line_1_{{warehouse.id}}" class="col-form-label">Address</label> </div>
													<div class="col-sm-7">
														<div class="row">
															<div class="col-sm-7"> <textarea id="id_verify_wearhouse_address_line_1_{{warehouse.id}}"  name="verify_wearhouse_address_line_1" readonly class="form-control">{{warehouse.plot_no|default_if_none:''}}, {{warehouse.location_name|default_if_none:''}},{{warehouse.street|default_if_none:''}}</textarea> </div>
											
															<div class="col-sm-2">
																<div class="d-flex align-items-center"> <a class="p-2 text-black btn" href="javascript:void(0);" type="button" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#editWarehouseDropdown_{{warehouse.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
																			<path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
																		</svg> </a> <!-- Start editWarehouse Dropdown Info Modal -->
																	<div class="modal fade" id="editWarehouseDropdown_{{warehouse.id}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="editWarehouseDropdownLabel_{{warehouse.id}}" aria-hidden="true">
																		<div class="modal-dialog custom-model-min-width">
																			<div class="modal-content">
																				<div class="modal-header">
																					<h1 class="modal-title fs-5" id="editWarehouseDropdownLabel_{{warehouse.id}}">Edit Warehouse Address</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																				</div>
																				<div class="modal-body">
																					<form class="row" method="post" action="" id="edit-warehouse-info-basic-form-{{warehouse.id}}" class="needs-validation" novalidate="novalidate">
																						{% csrf_token %}
																						<div class="col-md-12"> <input type="hidden" class="form-control" placeholder="" value="{{warehouse.id}}" name="edit_warehouse_id" required id="edit_warehouse_id_{{warehouse.id}}">
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_location_name_{{warehouse.id}}" class="col-form-label">Location Name</label></div>
																									<div class="col-12"><input type="text" class="form-control" placeholder="" value="{{warehouse.location_name |default_if_none:''}}" name="location_name" id="id_edit_warehouse_location_name_{{warehouse.id}}" required></div>
																								</div>
																							</div>
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_plot_no_{{warehouse.id}}" class="col-form-label font-size-16px">Plot/House No.</label></div>
																									<div class="col-12"><input type="text" class="form-control" placeholder="" value="{{warehouse.plot_no |default_if_none:''}}" name="plot_no" id="id_edit_warehouse_plot_no_{{warehouse.id}}" required></div>
																								</div>
																							</div>
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_street" class="col-form-label">Street Name / Locality</label> </div>
																									<div class="col-12"><input type="text" class="form-control" placeholder="" value="{{warehouse.street |default_if_none:''}}" name="street" id="id_edit_warehouse_street_{{warehouse.id}}" required> </div>
																								</div>
																							</div>
																					
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_state_{{warehouse.id}}" class="col-form-label">State</label></div>
																									<div class="col-12">
																										<select class="form-select" name="state" id="id_edit_warehouse_state_{{warehouse.id}}">
																											<option value="" selected disabled>Select State</option>
																											{% if state_obj %}
																											{% for state in state_obj %}
																											<option value="{{state.id}}" {% if state.id == warehouse.state.id %}selected{% endif %}>{{state.name}}</option>
																											{% endfor %}
																											{% endif %}
																										</select>
																									</div>
																								</div>
																							</div>
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_city_{{warehouse.id}}" class="col-form-label">City</label></div>
																									<div class="col-12">
																										<select class="form-select" name="city" id="id_edit_warehouse_city_{{warehouse.id}}">
																											<option value="" disabled>Select City</option>
																											{% if city_obj %}
																											{% for city in city_obj %}
																											<option value="{{city.id}}" {% if city.id == warehouse.city.id %}selected{% endif %}>{{city.name}}</option>
																											{% endfor %}
																											{% endif %}
																										</select>
																									</div>
																								</div>
																							</div>
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_landmark_{{warehouse.id}}" class="col-form-label">landmark</label></div>
																									<div class="col-12"><input type="text" class="form-control" placeholder="" value="{{warehouse.landmark |default_if_none:''}}" id="id_edit_warehouse_landmark_{{warehouse.id}}" name="landmark" required></div>
																								</div>
																							</div>
																							<div class="col-md-12">
																								<div class="row my-3">
																									<div class="col-12"><label for="id_edit_warehouse_pin_code_{{warehouse.id}}" class="col-form-label">Pincode</label> </div>
																									<div class="col-12"><input type="number" class="form-control" placeholder="" value="{{warehouse.pin_code |default_if_none:''}}" id="id_edit_warehouse_pin_code_{{warehouse.id}}" name="pin_code" required> </div>
																								</div>
																							</div>
																							<div class="col-12 d-flex justify-content-end">
																								<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button>
																								<button type="submit" class="btn px-3 m-1 btn-brand" name="form_model_type" value="edit_warehouse_info_model">save</button>
																							</div>
																						</div>
																					</form>
																				</div>
																			</div>
																		</div>
																	</div> <!-- End editWarehouse Dropdown Info Modal --> <a class="p-2 text-black btn" href="javascript:void(0);" type="button" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#deleteWarehouseDropdown_{{warehouse.id}}"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
																			<path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
																		</svg> </a> <!-- Start deleteWarehouse Dropdown Info Modal -->
																	<div class="modal fade" id="deleteWarehouseDropdown_{{warehouse.id}}" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteWarehouseDropdownLabel_{{warehouse.id}}" aria-hidden="true">
																		<div class="modal-dialog custom-model-min-width">
																			<div class="modal-content">
																				<div class="modal-header">
																					<h1 class="modal-title fs-5" id="deleteWarehouseDropdownLabel">Delete Warehouse Address</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																				</div>
																				<div class="modal-body">
																					<form class="row" method="post" action="" class="needs-validation" novalidate="novalidate">
																						{% csrf_token %}
																						<div class="col-md-12"> <input type="hidden" class="form-control" placeholder="" value="{{warehouse.id}}" name="delete_warehouse_id" required id="delete_warehouse_id_{{warehouse.id}}">
																							<div class="col-md-12">
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>Location Name</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.location_name |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>Plot/House No.</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.plot_no |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>Street Name / Locality</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.street |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>City</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.city |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>State</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.state |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>landmark</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.landmark |default_if_none:''}}</label>
																									</div>
																								</div>
																								<div class="row py-3">
																									<div class="col-4">
																										<label class="col-form-label text-dark"><strong>Pin</strong></label>
																									</div>
																									<div class="col-8">
																										<label class="col-form-label">{{warehouse.pin_code |default_if_none:''}}</label>
																									</div>
																								</div>

																							</div>
																							<div class="col-12 d-flex justify-content-end">
																								<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button>
																								<button type="submit" class="btn px-3 m-1 btn-brand" name="form_model_type" value="delete_warehouse_info_model">save</button>
																							</div>
																						</div>
																					</form>
																				</div>
																			</div>
																		</div>
																	</div> <!-- End deleteWarehouse Dropdown Info Modal -->
																</div>
															</div>
														</div>
													</div>
												</div>
												{% endfor %}
												<div class="col-12 text-center">
													<a href="javascript:void(0);" type="button" class="btn btn-brand pb-1" data-toggle="modal" data-bs-toggle="modal" data-bs-target="#addWarehouseDropdown"> + Add New</a> <!-- Start addWarehouse Dropdown Info Modal -->
												</div>
												<div class="col-12">
													<div class="modal fade" id="addWarehouseDropdown" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addWarehouseDropdownLabel" aria-hidden="true">
														<div class="modal-dialog custom-model-min-width">
															<div class="modal-content">
																<div class="modal-header">
																	<h1 class="modal-title fs-5" id="addWarehouseDropdownLabel">Add Warehouse Info</h1> <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
																</div>
																<div class="modal-body">
																	<form class="row" method="post" action="" id="add-warehouse-info-basic-form" class="needs-validation" novalidate="novalidate"> {% csrf_token %} <div class="col-md-12"> <input type="hidden" class="form-control" placeholder="" value="" name="add_warehouse_id" required id="add_warehouse_id_{{warehouse.id}}">
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_location_name" class="col-form-label">Location Name</label></div>
																				<div class="col-12"><input type="text" class="form-control" placeholder="" name="location_name" id="id_add_warehouse_location_name" required></div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_plot_no" class="col-form-label font-size-16px">Plot/House No.</label></div>
																				<div class="col-12"><input type="text" class="form-control" placeholder="" name="plot_no" id="id_add_warehouse_plot_no" required></div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_street" class="col-form-label">Street Name / Locality</label> </div>
																				<div class="col-12"><input type="text" class="form-control" placeholder="" name="street" id="id_add_warehouse_street" required> </div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_state" class="col-form-label">State</label></div>
																				<div class="col-12"> <select class="form-select" name="state" id="id_add_warehouse_state" required>
																						<option value="" selected disabled>Select State</option> {% if state_obj %} {% for state in state_obj %} <option value="{{state.id}}">{{state.name}}</option> {% endfor %} {% endif %}
																					</select> </div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_city" class="col-form-label">City</label></div>
																				<div class="col-12"> <select class="form-select" name="city" id="id_add_warehouse_city" required>
																						<option value="" selected disabled>Select City</option> {% if city_obj %} {% for city in city_obj %} <option value="{{city.id}}">{{city.name}}</option> {% endfor %} {% endif %}
																					</select> </div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_landmark" class="col-form-label">landmark</label></div>
																				<div class="col-12"><input type="text" class="form-control" placeholder="" id="id_add_warehouse_landmark" name="landmark" required></div>
																			</div>
																		</div>
																		<div class="col-md-12">
																			<div class="row my-3">
																				<div class="col-12"><label for="id_add_warehouse_pin_code" class="col-form-label">Pincode</label> </div>
																				<div class="col-12"><input type="number" class="form-control" placeholder="" id="id_add_warehouse_pin_code" name="pin_code" required> </div>
																			</div>
																		</div>
																		<div class="col-12 d-flex justify-content-end"> 
																			<button type="button" class="btn px-3 m-1 btn-outline-brand" data-bs-dismiss="modal">Close</button> 
																			<button type="submit" class="btn px-3 m-1 btn-brand" name="form_model_type" value="add_warehouse_info_model">save</button> </div>
																		</div>
																	</form>
																</div>
															</div>
														</div>
													</div> <!-- End addWarehouse Dropdown Info Modal -->
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block jsblock %}
	<script>
					
		$(document).ready(function () {
			var token = $("input[name=csrfmiddlewaretoken]").val();
	
			$("#account-info-basic-form").validate({
				rules: {
					email: {
						required: true,
						email: true,
						remote: {
							url: "/user/except-user-email-check/",
							type: "post",
							data: {csrfmiddlewaretoken: token}
						}
					},
					mobile_number: {
						required: true,
						numeric: true,
						remote: {
							url: "/user/except-user-phone-number-check/",
							type: "post",
							data: {
								csrfmiddlewaretoken: token,
								contact_number: function() {
									return $("#id_mobile_number").val();
								}
							}
						}
					},
				},
				messages: {
					email: {
						required: "Please enter your email",
						email: "Please enter a valid email address",
						remote: "Email already exists"
					},
					mobile_number: {
						required: "Please enter your contact number",
						numeric: "Please enter numeric value",
						remote: "Phone already exists"
					}
				},
				submitHandler: function (form) {
					form.submit();
				}
			});
		});

		{% comment %} except-user-phone-number-check/ {% endcomment %}
	</script>
	<script>
					
		$(document).ready (function () {
			var token = $("input[name=csrfmiddlewaretoken]").val();  
			$("#seller-info-basic-form").validate({
				rules: {
                    company_gst_number: {
                        required: true,
                        gstregex: true,
                        remote: {
                            url: "/verification/except-user-gst-check/",
                            type: "post",
                            data: {'csrfmiddlewaretoken': token}
                        }
                    },
                },
                messages: {
                    company_gst_number: {
                        required: "This field is required.",
                        remote: "GST Number already exist."
                    }
                },
                submitHandler: function (form) {
                    form.submit();
                }
			});
		});
	</script>
	<script>
					
		$(document).ready (function () {  
			var token = $("input[name=csrfmiddlewaretoken]").val();
			$("#bank-account-info-basic-form").validate();
		});
	</script>

	<script>
		$(document).ready (function () {  
			var token = $("input[name=csrfmiddlewaretoken]").val();
			$("#add-warehouse-info-basic-form").validate();
		});
	</script>
	<script>
		$(document).ready (function () {  
			var token = $("input[name=csrfmiddlewaretoken]").val();
			$("#account-setting-basic-form").validate();
		});
	</script>

	

{% endblock jsblock %}