{% extends 'seventh-square/layout/base.html' %}
{% load static %}
{% block title %}{% endblock title %}
{% block metablock %}{% endblock metablock %}
{% block cssblock %}{% endblock cssblock %}
{% block content %}
    <div class="container-fluid login-background">
        <div class="row p-5">
            <!-- Messages Start -->
            {% comment %} {% include 'seventh-square/layout/messages.html' %} {% endcomment %}
            <!-- Messages END -->
            <div class="col-12 col-md-5 mx-auto bg-white p-4">
                <div class="text-center">
                    <h4 class="text-capitalize" ><strong>Welcome to Seller Panel</strong></h4>
                    <a class="text-dark" href="/?#register-section">New Seller? Register Here</a>
                </div>
                <form method="post" action="{% url 'app_user:auth-signin' %}"  id="basic-form" class="needs-validation" novalidate="novalidate">
                    {% csrf_token %}
                    <div class="row mt-3">
                        {% include 'seventh-square/form/form-auth.html' %}
                    </div>
                    <div class="float-left my-2">                     
                        <a class="text-decoration-none text-dark" href="/account/login_otp/">Login with OTP</a>
                    </div>
                    <button type="submit" id="submit-basic-form" class="btn btn-brand w-100">LOGIN IN</button>

                    <div class="mt-2 d-flex align-items-end flex-column mt-2">
                        <a class="text-dark mt-1" href="{% url "app_user:forgot-password" %}">Forgot Password?</a>
                        <a class="text-dark mt-1" href="/help-center/">Need Help?</a>
                    </div>
                </form>
            </div>            
        </div>
    </div>

{% endblock content %}
{% block jsblock %}

    <script>
        $(document).ready (function () {  
            $("#basic-form").validate();  
        });
    </script>

{% endblock jsblock %}